<div class="container">
    <div class="row">
        <!--First  -->
        <div class="col-sm">
            <a href="/login" role="button" class="btn btn-outline-dark btn-lg btn-block text-center">
                <span>
                    <i class="fa fa-sign-in fa-3x"></i>
                </span>
                Sign In
            </a>
        </div>
        <!--Sercond -->
        <div class="col-sm">
            <a href="/news" role="button" class="btn btn-outline-dark btn-lg btn-block text-center">
                <span>
                    <i class="fa fa-dashboard fa-3x"></i>
                </span>
                News
            </a>
        </div>
    </div>
</div>
